/* Place CSS styles here */
body{
    font-family: 'Lora', serif;
    background: #aac3ff;
}
.Home-page{
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(195, 250, 92);
}
.about-page{
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(248, 178, 81);
}
/* if u have two thing that will clash  */
/* media query for phone */
@media (max-width: 480px) {
 body { 
    background-color: blueviolet;
 }
}

/* media query for tablet */
@media (min-width: 481px) and (max-width: 767px) {
    body { 
       background-color: olive;
    }
   }

   /* media query for desktop */
@media (min-width: 786px) {
    body { 
       background-color: palegreen;
    }
   }
 