/* Place CSS styles here */
body{
    font-family: 'Lora', serif;
    background: #aac3ff;
}
.Home-page{
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(195, 250, 92);
}
.about-page{
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(248, 178, 81);
}
/* if u have two thing that will clash  */
